html, body {
    height: 100%;
    width: 100%;
    display: table;
    margin: 0;
}

.content {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.center {
    border: 1px solid;
    display: inline-flex;
    padding: 20px;
}